.rates {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  min-height: 70vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.priceText {
  margin-left: 5%;
  margin-right: 5%;
  width: 40vw;
  text-align: left;
}

.ratesTable {
  width: 50vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  text-align: left;
}
