.header {
  background-image: url("/images/labrador-retriever.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titlediv {
  margin-top: 15%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10vw;
  padding-right: 10vw;
  height: fit-content;
  width: 38vw;
  background-color: rgba(0, 0, 0, 0.384);
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 200;
  color: white;
}

.subtitle {
  color: white;
  font-size: 1em;
  font-weight: 200;
}

/* SECTIONS */

section {
  color: black;
  background-color: white;
  min-height: 70vh;
  height: fit-content;
}

.section1 {
  border-radius: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section1Link {
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(212, 212, 202, 0.582),
    -2px -2px 10px rgba(212, 212, 202, 0.582);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section1Link:hover {
  box-shadow: 2px 2px 15px rgba(202, 202, 195, 0.582),
    -2px -2px 15px rgba(202, 202, 195, 0.582);
}

.section1Icon {
  padding: 10px;
  cursor: pointer;
  background-color: rgba(242, 245, 228, 0.384);
  height: 300px;
  width: 300px;
}

.section1Icon img {
  height: 100px;
}

.section1Link h5 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}

.section1LinkText {
  font-weight: 200;
}

.section2 {
  padding-left: 10vw;
  padding-right: 5vw;
  min-height: 70vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.aboutTitle {
  margin-top: 0;
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
}

.about {
  width: 70%;
  text-align: left;
  margin: 5%;
  font-weight: 200;
}

.section2 img {
  height: 500px;
  width: auto;
}

.section3 {
  padding-left: 5vw;
  padding-right: 5vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 65vh;
    background-size: 240%;
    background-position: 65%;

  }

  .titlediv {
    margin-top: 75%;
    width: 70vw;
    height: 20vh;
  }
  .title {
    font-size: 1em;
  }

  .subtitle {
    font-size: 0.8em;
  }
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .section1Icon {
    height: fit-content;
    width: 80%;
    margin-bottom: 5%;
  }
  .section1Icon img {
    height: 50px;
  }

  .section1Link h5 {
    font-size: 0.9em;
  }

  .section1LinkText {
    font-size: 0.7em;
    font-weight: 200;
  }

  .section2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .aboutTitle {
    font-size: 1.1em;
  }

  .about {
    font-size: 0.8em;
    width: 90%;
    margin: 2%;
  }

  .section2 img {
    display: none;
  }

  .section3 {
    margin-bottom: 5vh;
    height: fit-content;
    flex-direction: column;
  }
}
