.parallax {
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("/images/bantersnaps-pCyF1HIMovI-unsplash.jpg");
}
.parallax2 {
  background-image: url("/images/jack-millard-jR3YdXK2Jzg-unsplash.jpg");
}
.parallax3 {
  height: 90vh;
  background-image: url("/images/emerson-peters-oBCT3obZ6OY-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .parallax {
    height: 60vh;
  }
  .parallax1 {
    background-position: 20%;
  }
    .parallax2 {
    background-position: 51%;
  }
    .parallax3 {
    background-position: 65%;
    height: 90vh;
  }

  
}
