.contactUs {
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contactUs h5 {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}

form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 100%;
  min-height: 25px;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

textarea {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

textarea:focus {
  outline: none;
}

.sendEmailButton {
  width: fit-content;
}
