.footer {
  background-color: rgba(0, 0, 0, 0.384);
  min-height: 45vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerIcon {
  color: rgb(227, 241, 211);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 200;
  width: 30vw;
}

.footerIcon img {
  height: 150px;
}

.footerlists {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul > h5 {
     color: rgb(227, 241, 211);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 5px;
}

ul {
  text-align: left;
  list-style: none;
}
