.footer {
  background-color: aquamarine;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerlists {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.copyright {
  align-self: flex-end;
}
