.nav {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: aqua;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.links {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}
